@import "tailwindcss";

html, body { height:100%; margin:0; }
body::before{
  content:"";
  position:fixed;
  inset:0;
  background-image:url('/images/imgbackground.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  opacity:0.6;
  pointer-events:none;
  z-index:0;
}
#root { position: relative; z-index: 1; background: transparent; }